<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="STYLES.CSS">
</head>
    <a href="{% url "index_page" %}">Home page</a>
    <a href="{% url "fleet_page" %}">Hiring details</a>
    <a href="{% url "service_page" %}">Our hub services</a>


   
    <body>
        <title>About Us - Sabilas car hire</title>
       <link rel="stylesheet" href="STYLES.CSS">
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Check out about sabilas car hire</h1>
            <p>Welcome to Sabilas car hire, your premier destination for hassle-free and affordable car hire services. With a commitment to providing top-notch vehicles and exceptional customer service, we make every journey memorable.</p>
            
            <h2>Our Mission</h2>
            <p>To empower travelers with the freedom to explore any destination with comfort and convenience. We aim at delivering seamless car rental experience that caters to your unique needs.</p>
            
            <h2>Our Fleet</h2>
            <p>Choose from our diverse range of vehicles, including compact cars, SUVs, luxury cars, and more. We meticulously maintain our fleet to ensure each vehicle meets the highest standards of safety and performance.</p>
            
            <h2>Why Choose Us?</h2>
            <p>Sabilas car hire stands out for its transparent pricing, easy booking process, and exceptional customer support. We prioritize your satisfaction and strive to exceed your expectations with every rental.</p>
            
            <h2>Contact Us</h2>
            <p>If you have any questions or need assistance, our dedicated team is here to help.</p>
            <p>Email: sabilaabubakar780@gmail.com</p>
            <p>Phone: 0775590235
                    .0753070245
            </p>
            <p>Address: Free street, Kampala, Uganda</p>
            <link rel="stylesheet" href="STYLES.CSS">
        </div>
    </div>

    
</body>
</html>