<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>Services Page</title>
    <a href="{% url "index_page" %}">Home page</a>
    <a href="{% url "fleet_page" %}">Hiring details</a>
    <a href="{% url "about_page" %}">About our hub</a>
    
    
</head>
<h1>SABILAS CAR HIRE HUB WELCOMES YOU</h1>
<body>
    
    
    
        <body>
            <h1>Welcome to Our Car Hire Hub Services</h1>
            <ul>
                <li>All forms of car hiring</li>
                <link rel="stylesheet" href="STYLES.CSS"> 
            </ul>
        </body> 
        <body>
            <h1>Other Car Hub Services</h1>
            <ul>
                <li>Oil Change</li>
                <li>Tire Rotation and Alignment</li>
                <li>Brake Inspection and Maintenance</li>
                <li>Car Detailing and Cleaning</li>
                <li>Transmission Servicing</li>
                <link rel="stylesheet" href="STYLES.CSS"> 
            </ul>
        </body> 
    </div>

   
</body>
</html>